.popups .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
  }

.popups .overlay:target {
    visibility: visible;
    opacity: 1;
}

.popups .popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--white-color);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popups .popup h2 {
    margin-top: 0;
    font-family: 'Indie Flower', cursive;
    text-decoration: underline;
}

.popups .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--black-color);
}

.popups .popup .close:hover {
    color: var(--main-color);
}

.popups .popup .content {
    max-height: 30%;
    overflow: auto;
}